.leftSideMenu {
    width: 20vw;
    min-width: 215px;
    border-right: 2px solid #F0F0F0;
}

.userInfoBlock {
    margin: 30px 0 40px;
}

.userAvatarBlock img {
    margin-bottom: 10px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #cbcbcb;
}

.userNameTitle {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    color: #858585
}

.tabItem {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 64px;
    width: 100%;
}

.leftSideMenuTabIcon {
    margin-right: 35px;
}

.lefSideMenuTabTitle {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    text-transform: none;
    color: #858585;
}

.exitLink {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    // color: #0047FF;
    color: #00E0FF;
}